<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963244636-1hhgu558f8sg1gat18mkb1j1futs3ri4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963244636-1hhgu558f8sg1gat18mkb1j1futs3ri4</string>
	<key>API_KEY</key>
	<string>AIzaSyC_wk2Ds5y24JmVSz5Jo3XVeHtFIgtTi7M</string>
	<key>GCM_SENDER_ID</key>
	<string>963244636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wisataNusantaraMobile</string>
	<key>PROJECT_ID</key>
	<string>wisata-nusantara-2ab08</string>
	<key>STORAGE_BUCKET</key>
	<string>wisata-nusantara-2ab08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963244636:ios:9f821bbcbf91f0dcf9ec99</string>
</dict>
</plist>